@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #00917c;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.empty{
  height: 200px;
  width: 200px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}
.fill{
  background-image: url('https://i.ibb.co/9hWy0nr/pexels-cindy-gustafson-670741.jpg');
  height: 195px;
  width: 195px;
  cursor: pointer;
}
.hold{
  border: solid 5px #044343;
}
.hovered {
  background-color: #062121;
  border-color: white;
  border-style: dashed;
}
@media (max-width: 800px) {
  body{
    flex-direction: column;
  }
}
